  body {
      /*Fondo de a pagina web*/
      background: #8660cc;
      background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
      background: linear-gradient(to right, #2ebf91, #815dc5);
  }